html {
	min-height: 100%;
	position: relative;
}
body {
	overflow-x: hidden;
	margin: 0;
	margin-bottom: 40px;
}
footer {
	background-color: black;
	color: black!important;
	text-align: center!important;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: white;
}

th,td{
	width: 25%;
}
th{
	text-align: center;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	text-decoration: none;
	color: #c0e5ef;
}

input[type='file']{
	display: none;
}
img:not(.ignore){
	border-radius: 50%;
	display: block;
	cursor: pointer
}

.table thead{
	background-color: #9cd6e6;
	color: #fff;
}

.table{
	text-align: center;
	border: 3px dashed #9cd6e6;
}

.elim{
	background-color: #9cd6e6;
	color: #fff;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: bold;
}

.elim:hover{
	color: #f6cfd3;

}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 15px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.ilumodal .comment{
	width: 100%;
	height: 150px;
}

.reaCompra{
	background-color: #9cd6e6;
	color: #fff;
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: bold;
}

.index{
	background-color: #c0e5ef;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.index-buttons{
	padding: 15px;
	margin-top: 3%;
}

.index-buttons h4{
	padding: 10px;
	font-size: 25px;
	letter-spacing: 4px;
	color: #68b4ff;
}

.catalogo{
		background-color: #dca7ad;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.catalog{
	width: 110%;
	height: 65vh;
	margin-top: 10%;
	margin-bottom: 0;
	padding: 20px;
	overflow-y: scroll;
}

.presencia{
	background-color: #c0e5ef;
	font-family: 'Saira Semi Condensed', sans-serif;
	color: #68b4ff;
	letter-spacing: 3px;
}

.admin{
	font-family: 'Saira Semi Condensed', sans-serif;
	background-color: #fcebed;
}

.imagenes{
	font-family: 'Saira Semi Condensed', sans-serif;
	background-color: #fcebed;
}

.imagenes input[type=text]{
	border: 0;
	background-color: #f6cfd3;
	width: 50%;
	height: 5%;
	text-align: center;
	color: #fff;
}

.panel-footer{
	background-color: #f6cfd3;
}

.images-list{
	font-family: 'Saira Semi Condensed', sans-serif;
	letter-spacing: 3px;
}

.images-list .btn{
		color: #fff;
		font-size: 12px;
		letter-spacing: 3px;
		font-weight: bold;
}

.navi{
	background-color: #f6cfd3;
	color: #fff;
	letter-spacing: 3px;
	border-bottom: 3px solid #c0e5ef;
}

.admin input[type=text],.admin input[type=password],.admin textarea{
	border: 0;
	background-color: #f6cfd3;
	width: 50%;
	height: 5%;
	text-align: center;
	color: #fff;
}

.admin textarea{
	border: 0;
	background-color: #f6cfd3;
	width: 50%;
	height: 5%;
	text-align: center;
	color: #fff;
}

.intro{
	margin-top: 2%;
}

.intro p{
	background-color: #fcebed;
	border-radius: 15px;
	color: #68b4ff;
	width: 50%;
	padding: 15px;
	letter-spacing: 1px;
}

.modal-body{
	margin-top: 25px;
	overflow:auto;
}

.logh{
	color: #fff;
	font-weight: bold;
	margin: 2%;
}

.logh2{
	color: #c0e5ef;
	font-weight: bold;
}

.imagenprueba{
	text-align:center;
	width: 100%;
}

.size, .supp, .cantidad{
	border: 0;
	background-color: #fcebed;
	width: 200px;
}

.configuracion{
	font-family: 'Saira Semi Condensed', sans-serif;
	letter-spacing: 3px;
	background-color: #fcebed;
}

.configuracion input[type=text]{
	color: #fff;
	background-color: #f6cfd3;
}

input[type=text], input[type=password], input[type=email], textarea{
	border: 0;
	background-color: #fcebed;
	width: 50%;
	height: 5%;
	text-align: center;
	/*color: #f6cfd3;
	yo no me voy a quedar ciego */
	color: #000;
}

.cantidad{
	padding-left: 10px;
	font-weight: bold;
}

.baul{
	width: 100%;
	margin-top: 2%;
	padding: 20px;
}

.pedidoprueba{
	width: 100px;
	height: 150px;
	background-color: lightgrey;
}

.login-form label{
	color: #c0e5ef;
}

.recover{
	background-color: #f6cfd3;
	padding: 3px;
	font-weight: bold;
}

.change{
	padding: 3px;
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

.row-main{
	height: 83.5vh;
	overflow-y: auto;
}
.navbar{
	margin-bottom: 0;
}
.img{
	text-align: center;
	margin: 5% 0%;
}
.img button{
	margin: 0% 5%;
	margin-top: 10%;
}
.flotante {
	position:absolute;
	bottom:10%;
	left: 5%;
	cursor: pointer
}

.formini label{
	font-family: 'Saira Semi Condensed', sans-serif;
	letter-spacing: 3px;
	color: #f6cfd3;
}

.formini *:not(.img-responsive){
	width: 40%!important;
}
.inicio{
	margin-top: 5%;
}

#menu{
	margin-top: 10%;
	margin-left: 20px;
	letter-spacing: 3px;
}

#menu a{
	text-decoration: none;
	color: #fff;
}

#menu a:hover{
	color: #c0e5ef;
}


#menu-carrito{
	margin-top: 2%;
	letter-spacing: 3px;
	color: #fff;
}

#modalstyle{
	border-radius: 0px;
	letter-spacing: 3px;
	color: #dca7ad;
	font-weight: normal;
}

#logModal{
	background-color: #f6cfd3;
}

#precio{
	background-color: #fcebed;
}

#addCarrito{
	border: 0px;
	padding: 5px;
	font-size: 20px;
	letter-spacing: 3px;
	background-color: #fcebed;
}

#addCarrito:hover{
	color: #c0e5ef;
	background-color: #fcebed;
}

#comprar{
	background-color:#fcebed;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

#comprar:hover{
	background-color: #fcebed;
	color: #c0e5ef;
}

#lista{
	height: 70vh;
	overflow-y: auto;
}
#add-costo,.big-image{
	cursor: pointer;
	margin: auto;
}

.images-list div{
	text-align: center;
}

.backBTN-blue {
	color: #68b4ff;
}

.backBTN-blue:hover {
	color: #fff;
}

::-moz-selection { /* Code for Firefox */
    color: #c0e5ef;
    background: #f6cfd3;
}

::selection {
    color: #c0e5ef;
    background: #f6cfd3;
}

.close{
	padding: 10px;
	margin: 10px;
	margin-top: -1px;
}
.form-control{
	width: 100%!important;
}
.glyphicon-picture,#image-show{
	cursor: pointer;
}

.mensajeError {
	margin-top: 40px;
    border-left: 2px solid #ff0000;
    color: #333333e8;
    background-color: #d3d3d34d;
}


/* esto es mio no lo toquen please (ender) */

img.illus{
	width:100%;
}

.catalogo .item{
    height: 250px;
    text-align: center;
    margin: 1%;
    overflow: hidden;
    padding: 0;
    border: 20px solid #ffffff;
    background-color: white;
    opacity: 0;
}

.catalogo .item img{
    width: auto;
    height: 200px;
    min-height: 100%
}

.intro{
	text-align: center;
}

.img-responsive,.intro p{
	margin:auto;
}
/*NO TOCAR DE AQUI PARA ABAJO*/
.contain {
  position: relative;
  margin: 155px auto;
  width: 200px;
  top: -90px;
  left: -107px;
}

svg {
  position: absolute;
}
svg ellipse {
  -webkit-transform-origin: center;
          transform-origin: center;
}
svg:nth-of-type(1) ellipse {
  stroke: #F1725D;
  cx: 25px;
  stroke-width: 3px;
  -webkit-animation: jump 600ms infinite ease-in-out;
          animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
svg:nth-of-type(2) ellipse {
  stroke: #38BDAB;
  cx: 65px;
  stroke-width: 3px;
  -webkit-animation: jump 600ms infinite ease-in-out;
          animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  -webkit-animation-delay: 75ms;
          animation-delay: 75ms;
}
svg:nth-of-type(3) ellipse {
  stroke: #9D30A5;
  cx: 105px;
  stroke-width: 3px;
  -webkit-animation: jump 600ms infinite ease-in-out;
          animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
svg:nth-of-type(4) ellipse {
  stroke: #B779E2;
  cx: 145px;
  stroke-width: 3px;
  -webkit-animation: jump 600ms infinite ease-in-out;
          animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  -webkit-animation-delay: 225ms;
          animation-delay: 225ms;
}
svg:nth-of-type(5) ellipse {
  stroke: #683893;
  cx: 185px;
  stroke-width: 3px;
  -webkit-animation: jump 600ms infinite ease-in-out;
          animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
svg:nth-of-type(6) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 25px;
  cy: 48px;
  -webkit-animation: shadow 600ms infinite ease-in-out;
          animation: shadow 600ms infinite ease-in-out;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
svg:nth-of-type(7) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 65px;
  cy: 48px;
  -webkit-animation: shadow 600ms infinite ease-in-out;
          animation: shadow 600ms infinite ease-in-out;
  -webkit-animation-delay: 75ms;
          animation-delay: 75ms;
}
svg:nth-of-type(8) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 105px;
  cy: 48px;
  -webkit-animation: shadow 600ms infinite ease-in-out;
          animation: shadow 600ms infinite ease-in-out;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
svg:nth-of-type(9) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 145px;
  cy: 48px;
  -webkit-animation: shadow 600ms infinite ease-in-out;
          animation: shadow 600ms infinite ease-in-out;
  -webkit-animation-delay: 225ms;
          animation-delay: 225ms;
}
svg:nth-of-type(10) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 185px;
  cy: 48px;
  -webkit-animation: shadow 600ms infinite ease-in-out;
          animation: shadow 600ms infinite ease-in-out;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes jump {
  40% {
    -webkit-transform: translateY(20px) scale(1.3);
            transform: translateY(20px) scale(1.3);
    opacity: .9;
  }
  40% {
    rx: 10px;
    ry: 10px;
    stroke-width: 3px;
  }
  45% {
    rx: 15px;
    ry: 7px;
    stroke-width: 4px;
  }
  55% {
    rx: 10px;
    ry: 10px;
  }
}

@keyframes jump {
  40% {
    -webkit-transform: translateY(20px) scale(1.3);
            transform: translateY(20px) scale(1.3);
    opacity: .9;
  }
  40% {
    rx: 10px;
    ry: 10px;
    stroke-width: 3px;
  }
  45% {
    rx: 15px;
    ry: 7px;
    stroke-width: 4px;
  }
  55% {
    rx: 10px;
    ry: 10px;
  }
}
@-webkit-keyframes shadow {
  45% {
    opacity: .15;
    rx: 10px;
    ry: 3px;
    -webkit-transform: translateY(5px) scale(1.3);
            transform: translateY(5px) scale(1.3);
  }
}
@keyframes shadow {
  45% {
    opacity: .15;
    rx: 10px;
    ry: 3px;
    -webkit-transform: translateY(5px) scale(1.3);
            transform: translateY(5px) scale(1.3);
  }
}
.img-profile{
	background-size:cover;
	width:12em;
  height:12em;
  background-position: center;
}
#carrito td{
	vertical-align: middle;
}
@media (max-width: 600px) {
  *{
    font-size: 8px!important;
  }
  .form-control{
  	height:auto;
  }
  }
}